<div class="grid-container">
  <h1 class="mat-h1 text-center">Admin Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <!-- <mat-icon>more_vert</mat-icon> -->
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <!-- <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button> -->
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content"
          [ngClass]="{'complaintBox': card.title == 'Complaint Box','postAdded': card.title == 'Posts Added', 'assignRequest': card.title == 'Assign Request', 'addBonus': card.title == 'Add Bonus' }">
          <ng-container
            *ngIf="card.title == 'Complaint Box'">
            <div *ngFor="let complaint of complaintsData; let i = index">
                 <div class="row">
                   <div class="col-md-12">
                     <div class="card mt-3 mb-3">
                       <div class="card-header">
                         <p style="float: left">{{complaint.title || "No title"}}</p>
                         <p style="float: right">{{complaint.date | date: 'dd/MM/yyyy'}}</p>
                       </div>
                       <div class="card-body">
                         <blockquote
                           class="blockquote mb-0">
                           <p>{{complaint.description || "No description given"}}</p>
                           <footer
                             class="blockquote-footer">
                             {{complaint.user || "Anonymous"}}</footer>
                         </blockquote>
                       </div>
                     </div>
                   </div>
                 </div>
            </div>
          </ng-container>
          <ng-container
            *ngIf="card.title == 'Posts Added'" >
            <div *ngFor="let post of posts; let i = index">
               <div class="row">
                 <div class="col-md-12">
                   <div class="card mt-3 mb-3">
                     <div class="card-header">
                       <p style="float: left">{{post.date | date: 'dd/MM/yyyy'}}
                       </p>
                       <a href="javascript:void(0)"
                          style="float: left;"
                         class="mr-3 ml-2"
                         (click)="onEditClick(post._id)">Edit</a>
                       <a href="javascript:void(0)"
                         style="float: left;"
                         (click)="onDeleteClick(post._id)">Delete</a>
                     </div>
                     <div class="card-body">
                       <blockquote class="blockquote mb-0">
                         <p><b>Title: </b>{{post.title || "Not provided "}}</p>
                       </blockquote>
                     </div>
                   </div>
                 </div>
               </div>
            </div>
          </ng-container>
          <ng-container *ngIf="card.title == 'Add Bonus'">
            <p class="text text-center text-danger" *ngIf="error">{{error}}</p>
            <div class="row">
              <div class="col-md-12">
                <form class="form">
                  <div class="form-group">
                    <label for="Name">Agent Name</label>
                    <input type="text" placeholder="Enter agent name.."
                      [(ngModel)]="agentName" name="agentNameText"
                      class="form-control" required>
                    <label for="Points">Add Bonus</label>
                    <input type="number" placeholder="200"
                      [(ngModel)]="bonusPoints" name="bonusPointsText"
                      class="form-control" required>
                  </div>
                  <button type="submit" class="btn btn-block btn-info" (click)="onAddBonusClick()">Submit</button>
                </form>
              </div>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
