<div class="footer-margin mt-5">
  <footer
    class="card-footer footer-font-style text-muted footer-position" 
    style="color: rgb(34, 33, 33)">
    <p class="text-center">&copy; Copyright 2019 - <a href="http://github.com" target="_blank" style="color:rgb(21, 110, 110)">Rupeshiya</a></p>
  </footer>
</div>