  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']"
        style="color:rgb(128, 240, 225)">LOGO</a>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
        id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" [routerLink]="['/about']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">About</a> -->
          </li>
          <li class="nav-item dropdown">
            <a *ngIf="authService.loggedIn()"
              class="nav-link dropdown-toggle" href="#"
              id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Options
            </a>
            <div class="dropdown-menu"
              aria-labelledby="navbarDropdown"
              *ngIf="authService.loggedIn()">
              <a class="dropdown-item"
                *ngIf="authService.loggedIn()"
                [routerLink]="['/posts']">All Posts</a>
              <a class="dropdown-item"
                *ngIf="authService.loggedIn() && admin"
                routerLink="create-post">Add Post</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              *ngIf="!authService.loggedIn()"
              [routerLink]="['/login']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              *ngIf="!authService.loggedIn()"
              [routerLink]="['/register']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              *ngIf="authService.loggedIn() && admin"
              (click)="onLogoutClick()"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a *ngIf="authService.loggedIn() && admin"
              class="nav-link dropdown-toggle" href="#"
              id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Admin
            </a>
            <div class="dropdown-menu"
              aria-labelledby="navbarDropdown"
              *ngIf="authService.loggedIn()">
              <a class="dropdown-item"
                *ngIf="admin && authService.loggedIn()"
                [routerLink]="['/admin-dashboard']">Admin
                Dashboard</a>
              <a class="dropdown-item"
                *ngIf="admin && authService.loggedIn()"
                [routerLink]="['/register']">Add Admin</a>
              <!-- <div class="dropdown-divider"></div> -->
              <!-- <a class="dropdown-item" routerLink="book-edit/:id">Update Book</a> -->
              <!-- <a class="dropdown-item" routerLink="">Delete Book</a> -->
            </div>
          </li>
          <li class="nav-item dropdown">
            <a *ngIf="authService.loggedIn() && !admin"
              class="nav-link dropdown-toggle" href="#"
              id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu"
              aria-labelledby="navbarDropdown"
              *ngIf="authService.loggedIn()">
              <a class="dropdown-item"
                *ngIf="!admin && authService.loggedIn()"
                [routerLink]="['/dashboard']">Dashboard</a>
              <a class="dropdown-item"
                *ngIf="!admin && authService.loggedIn()"
                (click)="onLogoutClick()"
                [routerLinkActive]="['active']">Logout</a>
              <!-- <div class="dropdown-divider"></div> -->
              <!-- <a class="dropdown-item" routerLink="book-edit/:id">Update Book</a> -->
              <!-- <a class="dropdown-item" routerLink="">Delete Book</a> -->
            </div>
          </li>
          <!-- <mat-icon (click)="onClickCart()">
            add_shopping_cart</mat-icon> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search"
            placeholder="Search" aria-label="Search"
            [(ngModel)]="searchText" name="searchText">
          <button
            class="btn btn-outline-success my-2 my-sm-0"
            type="submit" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}"
            (click)="onSearchClick()"
            onmousedown="return false;">Search</button>
        </form> -->
      </div>
    </div>
  </nav>