<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h2 class="page-header mt-5 text-center">Register</h2>
      <form class="form-class" #myForm="ngForm"
        ngNativeValidate>
        <ul class="list-unstyled"
          *ngIf="this.notRegistered">
          <li class="text-danger">
            {{error || 'Something went wrong'}}
          </li>
        </ul>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="name"
            name="nameText" class="form-control" id="name"
            placeholder="Enter Name" required
            #nameText="ngModel" minlength="2" />
        </div>
        <ul class="list-unstyled"
          *ngIf="nameText?.invalid && (nameText?.touched || nameText?.dirty)">
          <li class="text-danger"
            *ngIf="nameText.errors?.required">
            Name is required !
          </li>
          <li class="text-danger"
            *ngIf="nameText.errors?.minlength">
            Name must be more than 2 characters long !
          </li>
        </ul>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email"
            name="emailText" class="form-control" id="email"
            aria-describedby="emailHelp"
            placeholder="Enter Email" required
            #emailText="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            email />
          <small id="emailHelp"
            class="form-text text-muted">We'll never share
            your email with anyone else.</small>
        </div>
        <ul class="list-unstyled"
          *ngIf="emailText?.invalid && (emailText?.touched || emailText?.dirty)">
          <li class="text-danger"
            *ngIf="emailText.errors?.required">
            Email is required !
          </li>
          <li class="text-danger"
            *ngIf="emailText.errors?.email">
            Invalid email !
          </li>
        </ul>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="password"
            name="password" class="form-control"
            id="password" #passwordText="ngModel"
            placeholder=" Enter Password" minlength="6"
            required />
        </div>
        <ul class="list-unstyled"
          *ngIf="passwordText?.invalid && (passwordText?.touched || passwordText?.dirty)">
          <li class="text-danger"
            *ngIf="passwordText.errors?.required">
            Password is required !
          </li>
          <li class="text-danger"
            *ngIf="passwordText.errors?.minlength">
            Password should be at least 6 characters long
          </li>
        </ul>
         <!-- <div class="form-group">
           <label for="adminOrAgent">Admin or Agent</label>
           <input type="text" [(ngModel)]="adminOrAgent"
             name="adminOrAgentText" class="form-control"
             id="name"
             placeholder="Enter yes(if admin) else No" required
             #adminOrAgentText="ngModel" minlength="2" 
             />
         </div>
         <ul class="list-unstyled"
           *ngIf="nameText?.invalid && (nameText?.touched || nameText?.dirty)">
           <li class="text-danger"
             *ngIf="nameText.errors?.required">
             This field is required !
           </li>
           <li class="text-danger"
             *ngIf="nameText.errors?.minlength">
             Field must be Yes or No
           </li>
         </ul> -->
         <div class="form-group">
           <label for="adminOrAgent">Admin or Agent</label>
            <select class="form-control"
              id="exampleFormControlSelect1"
              (change)="selectOption($event.target.value)" [(ngModel)]="adminOrAgent" name="adminOrAgentText"
              #adminOrAgentText="ngModel"
              required>
              <option value="true">Admin</option>
              <option value="false">Agent</option>
            </select>
         </div>
         <ul class="list-unstyled"
           *ngIf="adminOrAgentText?.invalid && (adminOrAgentText?.touched || adminOrAgentText?.dirty)">
           <li class="text-danger"
             *ngIf="adminOrAgentText.errors?.required">
             Please select one option!
           </li>
         </ul> 
        <button type="submit" class="btn btn-primary"
          value="Submit" (click)="onFormSubmit()"
          [disabled]="!myForm.form.valid">Submit</button>
      </form>
    </div>
  </div>
</div>