body,
html {
  height: 100%;
  margin: 0%;
}

.image {
  background-image: linear-gradient(to bottom, rgba(12, 11, 11, 0.075), rgba(27, 26, 26, 0.1)),
  url(https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 1024px;
  height: 95vh;

  width: 100%;
  position: fixed;
  left: 0;
}

@media screen and (max-width: 1024px) {

  .image {
    left: 50%;
    margin-left: -512px;
  }
}

.image>text {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: blue;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

/* for slogan */
.header-primary {
  color: #108562fd;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.header-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 35px;
  animation-name: moveInleft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.header-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 10px;
  animation-name: moveInright;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  margin-bottom: 50px;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.btn {
  transform: translateY(-3px);
}

.btn:hover {
  transform: translateY(-1px);
}

.snackClass {
  background-color: #086b4de8;
  width: 300px;
  font-size: 27px;
}
