<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h2 class="page-header mt-5 text-center">Login</h2>
      <form class="form-class" #myForm="ngForm">
        <ul class="list-unstyled">
          <li class="text-danger" *ngIf="this.error">
            {{ error}}
          </li>
        </ul>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email"
            name="emailText" class="form-control" id="email"
            aria-describedby="emailHelp"
            placeholder="Enter Email" required
            #emailText="ngModel" email />
          <small id="emailHelp"
            class="form-text text-muted">We'll never share
            your email with anyone else.</small>
        </div>
        <ul class="list-unstyled"
          *ngIf="emailText?.invalid && (emailText?.touched || emailText?.dirty)">
          <li class="text-danger"
            *ngIf="emailText.errors?.required">
            Email is required !
          </li>
          <li class="text-danger"
            *ngIf="emailText.errors?.email">
            Invalid email !
          </li>
        </ul>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="password"
            name="password" class="form-control"
            id="password" placeholder=" Enter Password"
            required #passwordText="ngModel" />
        </div>
        <ul class="list-unstyled"
          *ngIf="passwordText?.invalid && (passwordText?.touched || passwordText?.dirty)">
          <li class="text-danger"
            *ngIf="passwordText.errors?.required">
            Password is required !
          </li>
        </ul>
        <button type="submit" class="btn btn-primary"
          value="Submit" (click)="onLoginSubmit()" id="loginButton"
          [disabled]="!myForm.form.valid">Login</button>
      </form>
    </div>
  </div>
</div>