<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h2 class="page-header mt-5 text-center">Add New post</h2>
      <form class="form-class" #myForm="ngForm"
        ngNativeValidate>
        <ul class="list-unstyled"
          *ngIf="this.error">
          <li class="text-danger">
            {{error || 'Something went wrong'}}
          </li>
        </ul>
        <div class="form-group">
          <label for="name">Title: </label>
          <input type="text" [(ngModel)]="title"
            name="titleText" class="form-control" id="name"
            placeholder="Enter title" required
            #titleText="ngModel" minlength="10" />
        </div>
        <ul class="list-unstyled"
          *ngIf="titleText?.invalid && (titleText?.touched
          ||
          titleText?.dirty)">
          <li class="text-danger"
            *ngIf="titleText.errors?.required">
            Title is required !
          </li>
          <li class="text-danger"
            *ngIf="titleText.errors?.minlength">
            Title must be more than 10 characters long !
          </li>
        </ul>
        <div class="form-group">
          <label for="description">Description: </label>
          <textarea type="descriptionText" [(ngModel)]="description"
            name="descriptionText" class="form-control" id="email"
            aria-describedby="emailHelp"
            placeholder="Description.." required
            #descriptionText="ngModel"
            required
            rows="5"
            ></textarea>
          <small id="descHelp"
            class="form-text text-muted">Add some valuable info, so that it motivates agents to take upon this</small>
        </div>
        <ul class="list-unstyled"
          *ngIf="descriptionText?.invalid && (descriptionText?.touched || descriptionText?.dirty)">
          <li class="text-danger"
            *ngIf="descriptionText.errors?.required">
            Description is required !
          </li>
        </ul>
        <div class="form-group">
          <label for="Points">Points: </label>
          <input type="number" [(ngModel)]="points"
            name="points" class="form-control"
            id="points" #pointsText="ngModel"
            placeholder=" Enter points" minlength="2"
            required />
        </div>
         <small id="descHelp"
           class="form-text text-muted">Add some points or commission which may help agents</small>
        <ul class="list-unstyled"
          *ngIf="pointsText?.invalid && (pointsText?.touched || pointsText?.dirty)">
          <li class="text-danger"
            *ngIf="pointsText.errors?.required">
            Points is required !
          </li>
          <li class="text-danger"
            *ngIf="pointsText.errors?.minlength">
            Points should be at least 2 digits long
          </li>
        </ul>
        <button type="submit" class="btn btn-primary"
          value="Submit" (click)="onFormSubmit()"
          [disabled]="!myForm.form.valid">Submit</button>
      </form>
    </div>
  </div>
</div>