<div class="container">
  <ng-container *ngFor="let post of posts; let i = index">
    <div class="row mt-5">
      <div class="col-md-12 mt-5 mb-3 m-auto">
        <div class="card text-center">
          <div class="card-header">
            <h5 style="float: left" class="mr-3">Posted by: {{post?.user?.name}}</h5>
            <a href="javascript:void(0)" *ngIf="admin" style="float: left;" class="mr-3" (click)="onEditClick(post._id)">Edit</a>
            <a href="javascript:void(0)" *ngIf="admin"
              style="float: left;"
              (click)="onDeleteClick(post._id)">Delete</a>
            <h5 style="float: right">Points: {{post.points || "0"}}</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}
            </h5>
            <p class="card-text"><b>Details: </b>{{post.description}}</p>
          </div>
          <div class="card-footer text-muted" style="float: left">
            <div class="row">
              <div class="col-md-4">
                <a style="float: left" href="javascript:void(0)">Posted on : {{post.date | date: 'dd/MM/yyyy' }}</a>
              </div>
              <div class="col-md-4">
                <a class="text-center" href="javascript:void(0)" (click)="onShowCommentsClick()"> Comments</a>                
              </div>
              <div class="col-md-4">
                <a style="float: right"
                  (click)="onCommentClick()"
                  href="javascript:void(0)"
                  >Add Comment
                </a>
              </div>
            </div>
               <ng-container *ngIf="showComments">
                 <div
                   *ngFor="let comment of post?.comments">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="card">
                         <div class="card-header">
                           {{comment.date | date: 'dd/MM/yyyy' }}
                         </div>
                         <div class="card-body">
                           <blockquote
                             class="blockquote mb-0">
                             <p>
                               {{comment.text || "No comments"}}
                             </p>
                             <!-- <footer class="blockquote-footer">
                             {{post.}}
                            </footer> -->
                           </blockquote>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </ng-container>
               <ng-container *ngIf="addComment">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="card">
                         <div class="card-header">
                           Comment
                         </div>
                         <div class="card-body">
                           <textarea rows="3"
                             [(ngModel)]="commentText"
                             name="comment"
                             class="form-control"
                             placeholder="New comment.."></textarea>
                         </div>
                         <div class="card-footer">
                           <button class="btn btn-block btn-outline-info" (click)="addCommentClick(post._id)">Submit</button>
                         </div>
                       </div>
                     </div>
                 </div>
               </ng-container>

          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>