<ng-container class="grid-container">
  <h1 class="mat-h1 text-center">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <!-- <mat-icon>more_vert</mat-icon> -->
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <!-- <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button> -->
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container *ngIf="card.title == 'Options'">
            <div class="row">
              <div class="col-md-12">
                <button
                  class="btn btn-outline-danger btn-block mb-3 mt-5"
                  (click)="addComplaint()">Register
                  Complaints</button>
              </div>
            </div>
            <p class="text-center text-success" *ngIf="msg">{{msg || error}}</p>
            <ng-container *ngIf="showComplaintBox">
              <div class="row">
              <form class="form">
                  <div class="form-group">
                    <div class="col-md-12">
                      <input 
                        type="text"
                        class="form-control" 
                        placeholder="About.." 
                        [(ngModel)]="title" 
                        name="titleText"
                        required
                        >
                      <textarea 
                        name="complaintBox"
                        id="complaintBox" 
                        rows="5"
                        placeholder="Complaint description.."
                        class="form-control mb-3"
                        style="width: 430px"
                        [(ngModel)]="description"
                        name="descriptionText"
                        required>
                      </textarea>
                    </div>
                    <button class="btn btn-outline-info"
                      (click)="onSendClick()">Send</button>
                  </div>
              </form>
              </div>
            </ng-container>
          </ng-container>
          <ng-container
            *ngIf="card.title == 'Points Earned'">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="card-text text-center">
                      {{pointsEarned || "No points earned yet"}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
